name: Frontend CI

on:
   push:
    branches: [ main ]
    paths:
      - 'novi-devops-eindopdracht.client/**'
      - '.github/workflows/frontend.yml'
   pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: novi-devops-eindopdracht.client/package-lock.json

    - name: Build Docker image
      working-directory: novi-devops-eindopdracht.client
      run: |
          docker build -t ${{ github.event.repository.name }}:${{ github.sha }} .
