name: Frontend CI

on:
   push:
    branches: [ main ]
    paths:
      - 'novi-devops-eindopdracht.client/**'
      - '.github/workflows/frontend.yml'
   pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: novi-devops-eindopdracht.client/package-lock.json

  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        working-directory: novi-devops-eindopdracht.client
        run: |
          docker build -t ghcr.io/${{ github.repository }}/frontend:${{ github.sha }} .
          docker tag ghcr.io/${{ github.repository }}/frontend:${{ github.sha }} ghcr.io/${{ github.repository }}/frontend:latest

      - name: Save image
        run: docker save ghcr.io/${{ github.repository }}/frontend:${{ github.sha }} ghcr.io/${{ github.repository }}/frontend:latest > image.tar
      - uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  push:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Download image
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load image
        run: docker load < image.tar

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: push image to GHCR
        run: |
          docker push ghcr.io/${{ github.repository }}/frontend:${{ github.sha }}
          docker push ghcr.io/${{ github.repository }}/frontend:latest
