name: Frontend CI

on:
   push:
    branches: [ main ]
   pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Build Docker image
      run: |
          docker build -t ${{ github.event.repository.name }}:${{ github.sha }} .
